{% set css %}
  {% imageCssBackground "day-trees" %}
  {% imageCssBackground "tree-path" %}
  {% imageCssBackground "tree-stream" %}
  {% imageCssBackground "tree-sun" %}
{% endset %}
<style>{{ css | safe }}</style>
