---
title: About
permalink: /about/index.html
description: 'Fay has spent nearly two decades practicing Organisational Development and Coaching. She has extensive experience coaching leaders, individuals and teams.'
layout: base
---

<div class="wrapper">
  <header class="full | cover-image cover-image--blank cover-image-two-trees">
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h1>Fay Andrews-Hodgson</h1>
      <p>
        Fay has spent nearly two decades practicing Organisational Development and Coaching, with a background
        in Organisational Psychology (MSc). Throughout this time her work has been focussed on leadership,
        from operational areas to Executive Board; supporting individuals, teams and whole organisations with
        their culture and leadership learning and development.
      </p>
      <p>
        Fay has extensive experience coaching leaders, both individually and as teams, at different levels;
        often working with the interpersonal challenges that differing roles, personalities and professional
        cultures create within organisations. In addition, she has focussed on the strategic approach to
        leadership and culture within organisations. She has worked mainly in the public sector including the
        NHS, Defra, Home Office and with a number of charities.
      </p>
      <p>
        Fay also has interest in complexity and the dynamic systems, as well as philosophy, psychology and
        anthropology. She has a curiosity for life and the world we live in, particularly the changing world
        we live in and the moment in history of which we are a part. Away from work Fay has is a keen maker,
        artist and potter.
      </p>

      <header class="full | cover-image cover-image--blank cover-image-two-trees">
      </header>
      <h2 id="qualifications">Qualifications and training</h2>
      <details name="qualifications" open>
        <summary>Organisational Development</summary>
        <ul>
          <li>MSc Occupational Psychology</li>
          <li>BSc European Business</li>
          <li>
            Advanced Practitioner Programme Organisational Design and Development – Civil Service (Accredited
            by University of Chichester)
          </li>
          <li>
            Complexity Theory and Methodology (Professor Eve Mitleton-Kelly, London School of Economics)
          </li>
          <li>Group Work (Institute of Group Analysis)</li>
          <li>
            U-lab 1x 2021 - Leading from an emerging future (u-school for Transformation, Presencing
            Institute, MIT)
          </li>
          <li>
            U-lab 2x 2021 Activating prototypes for systems change (u-school for Transformation, Presencing
            Institute, MIT)
          </li>
        </ul>
      </details>

      <details name="qualifications">
        <summary>Coaching</summary>
        <ul>
          <li>PG Diploma in Coaching Supervision (Accredited by Leeds Becket University)</li>
          <li>CMI Level 7 Leadership Coaching and Mentoring (Accredited by Leeds Beckett University)</li>
          <li>Co-Active Coaching (Coaches Training Institute - Accredited by ICF)</li>
          <li>Team Coaching (Performance Coach)</li>
          <li>Systemic Team Coaching (Academy of Executive Coaching)</li>
          <li>
            Organisational Relationships Systems Coaching – Fundamentals (Centre for Right Relationship -
            Accredited by ICF)
          </li>
          <li>Re-Imagine Leadership (Coaches Rising - ICF CPD)</li>
          <li>The Neuroscience of Change (Coaches Rising - ICF CPD)</li>
        </ul>
      </details>

      <details name="qualifications">
        <summary>Career</summary>
        <ul>
          <li>Senior Organisational Development Practitioner; UK Home Office</li>
          <li>Strategy advisor: Department of Environment, Farming and Rural Affairs</li>
          <li>Policy Officer; UK Department of Environment, Farming and Rural Affairs</li>
          <li>Fay Andrews-Hodgson Coaching and Consultancy</li>
          <li>Organisational Development Practitioner; York and Scarborough Teaching Hospitals</li>
          <li>Project Manager; Beat Initiative Carnival Arts Belfast</li>
        </ul>
      </details>

      <header class="full | cover-image cover-image--blank cover-image-two-trees">
      </header>
      <h2 id="testimonials">Testimonials</h2>
      <div class="testimonials">
        <blockquote>
          <p>
            Fay has an aptitude for subtle, meaningful and impactful support and leadership that makes one
            want to do more, be vulnerable and dig deeper from within – this I experienced first- hand!
          </p>
          <p class="caption">Deputy Director, Civil Service</p>
        </blockquote>
        <blockquote>
          <p>It is no exaggeration to say Fay has changed my life!</p>
          <p class="caption">Leader, Civil Service</p>
        </blockquote>
        <blockquote>
          <p>
            I was so inspired by Fay’s skills and knowledge when working with me that I asked her to come and
            to work with a team in my department; a group of staff that had a ten-year history of a struggling
            as a team. I saw a positive impact where the team felt they could trust her to understand them in
            order to empower them to move forward in a collaborative manner.
          </p>
          <p class="caption">Clinical Leader, NHS</p>
        </blockquote>
        <blockquote>
          <p>
            Working with Fay has been a transformative experience for me. With her patience, insight, and
            guidance, I’ve been able to bring my own authentic style of leadership to the forefront of my
            day-to-day activities, building my confidence. Fay took the time to understand my personality,
            strengths, and aspirations. Through her coaching, I’ve learned how to lead in a way that truly
            reflects who I am, how better to trust myself and be more grounded!
          </p>
          <p class="caption">Innovation Consultant, London</p>
        </blockquote>
        <blockquote>
          <p>
            I am eternally grateful to Fay for helping me with my leadership journey. From my very first
            session I knew I was in good hands. Fay allowed me to lead myself through thought - provoking
            exercises and insightful discussion; to gain a deeper intuitive understanding of how to navigate
            conflicts and challenges, without losing my sense of self. It is for that reason, I would highly
            recommend this outstanding transformational coaching to anyone who is looking to cultivate
            leadership through their own inner wisdom. But more so because it comes with the support of an
            exceptionally intelligent and thoughtful coach.
          </p>
          <p class="caption">Leader, IPSA (Independent Parliamentary Standards Authority)</p>
        </blockquote>
        <blockquote>
          <p>Fay has a talent at coaching and nurturing the very best in people.</p>
          <p class="caption">Deputy Director, Civil Service</p>
        </blockquote>
        <blockquote>
          <p>
            My coaching sessions with Fay focused on building my resilience and confidence so I can support my
            teams effectively as I lead transformational organisational change. The coaching helped me be a
            lot more self-aware and grounded as a leader. Fay gave me some great techniques to use when
            dealing with particularly difficult situations where before, I would have found it difficult to
            keep focused and calm, and now I feel more resilient in many areas of my work. I found her
            approach quite different to coaching that I had experienced before, it really resonated with my
            people-focused approach to leadership and my interest in how leaders impact others by the state of
            mind they show up in. I would highly recommend Fay as a coach.
          </p>
          <p class="caption">Deputy Director, Home Office, Civil Service</p>
        </blockquote>
        <blockquote>
          <p>
            Without Fay’s coaching I would have drowned in my first week of work in my new role and would
            probably have not been where I am today. I cannot thank Fay enough for this support and
            inspiration. I would recommend Fay to anyone thinking about coaching for themselves as
            individuals, or for their teams.
          </p>
          <p class="caption">Departmental Leader, NHS</p>
        </blockquote>
      </div>
    </div>
  </article>
</div>
