---
layout: base
permalink: /contact.html
title: 'Contact'
description: 'Get in touch with Fay Andrews-Hodgson.'
---

<div class="wrapper">
  <header class="full | cover-image  cover-image--blank cover-image-tree-sun">
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h1>{{ title }}</h1>
      <p>Want to find out more?</p>
      <p>Get in touch!</p>
      <p>
        <strong>Email me at <a href="mailto:fay@insightspace.co.uk">fay@insightspace.co.uk</a>.</strong>
      </p>
    </div>
  </article>
</div>
