---
layout: base
permalink: /exec-coaching.html
title: 'Executive Coaching'
description: 'Executive Coaching provides a space where you can explore your leadership experiences, find new perspectives and consider how you can step forward.'
---

<div class="wrapper">
  <header class="full | cover-image cover-image--blank cover-image-tree-stream">
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h1>{{ title }}</h1>
      <p>
        As leaders we need space to reflect, make sense of what we experience and be able to explore how we
        work effectively in our context. Executive Coaching provides a space where you can explore your
        leadership experiences, find new perspectives and consider how you can step forward.
      </p>
      <p>
        Executive Coaching is about tapping into your own insights and wisdom in ways that bring confidence
        and clarity.
      </p>

      <header class="full | cover-image cover-image--blank cover-image-tree-stream">
      </header>
      <h2 id="coaching-with-fay">Coaching with Fay Andrews-Hodgson MSc</h2>
      <p>
        Fay’s coaching style is relational and focuses on building a trusting relationship first to enable
        powerful transformative coaching. She sees the coaching processes as an invitation, for the coachee to
        tap into their own inherent insight and wisdom. Fay’s experience has always been with leaders in
        organisations and works at depth with the whole person.
      </p>
    </div>
  </article>
</div>
