---
layout: base
permalink: /index.html
description: 'Leadership and Team insight Coaching, for those looking to contribute to the future of our world. Tapping into inherent knowing, insight and wisdom. Coaching for a time between worlds.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">Today’s Leadership Challenge</h1>
    </div>
    {%
      svg "divider/waves",
      null,
      "divider"
    %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        The leadership being demanded of today is different than that of the past. We are working within the
        contexts of intersecting global challenges and rapidly shifting world. Leaders are being asked to
        provide transformation, and quickly, generating many questions.
      </p>
      <ul>
        <li>How are wheels kept turning whilst fundamentally changing the way we do things?</li>
        <li>How can we make decisions and lead with confidence, even if we don’t have all the answers?</li>
        <li>How can we best collaborate with others, despite the complexity and ambiguity we face?</li>
      </ul>
      <p>
        There are no easy answers, but one thing is for sure, it will require deeper capabilities in the art
        and skills of observation, reflection and learning.
      </p>
    </div>
  </article>
</div>
