---
layout: base
permalink: /organisational-development.html
title: 'Organisational Development'
description: 'Organisational Development (OD) supports organisational effectiveness by attending to both human and system needs and relationships.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {%
      svg "divider/waves",
      null,
      "divider"
    %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        The organisational environment is changing rapidly. We are working in highly interconnected and
        complex contexts with shifting attitudes within the workforce. Expectations of delivering more with
        less are ever increasing. There is an ask of ‘transformation’, but often the approach taken applies
        the same mindset and practices that created the need for change. How do organisations step into the
        future when the rules are changing and with so much ambiguity?
      </p>
      <p>
        Organisational Development (OD) supports organisational effectiveness by attending to both human and
        system needs and relationships. It develops peoples’ and systems’ capacity for change in a sustainable
        and regenerative way. Fay’s approach to Organisational Development is to work with the complexity of
        organisations and their systems, working with compassion for people and relationships within
        organisations. She works in collaboration with leaders and their organisations, supporting their
        observation, understanding and learning; in order to find ways forward.
      </p>
    </div>
  </article>
</div>
