---
layout: base
permalink: /team-coaching.html
title: 'Team and Group Coaching'
description: 'Team Coaching focuses on helping the team collectively achieve the team’s work, both in terms of the task work and the team work. This is done through dialogue that raises the collective level of self-awareness, and invites the team to develop their own solutions and team practices.'
---

<div class="wrapper">
  <header class="full | cover-image cover-image-day-trees">
    <div class="section__inner region">
      <h1>{{ title }}</h1>
    </div>
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="team-coaching">Team Coaching</h2>
      <p>
        Coaching is often seen as an activity for individuals, but coaching can also be for teams, groups and
        relationships.
      </p>
      <p>
        Team Coaching focuses on helping the team collectively achieve the team’s work, both in terms of the
        task work and the team work. This is done through dialogue that raises the collective level of
        self-awareness, and invites the team to develop their own solutions and team practices.
      </p>

      <header class="full | cover-image cover-image-day-trees">
        <div class="section__inner region">
          <h2 id="leadership-circles">Leadership Circles</h2>
        </div>
      </header>
      <p>
        Leadership Circles take place monthly allowing leaders to have a regular opportunity to process their
        experiences of the last month and reflect on their leadership practice. Circles are a unique and
        deeply experiential approach, creating spacious communication, based in deep listening, respect and
        authenticity. Circles allow us to slow down and listen to what needs to emerge, in ourselves and
        others.
      </p>
      <p>
        The Leadership Circles take place around a campfire in woods near Stamford Bridge, York. For more
        details go to <a href="https://leadershipcircles.co.uk">leadershipcircles.co.uk</a>.
      </p>

      <header class="full | cover-image cover-image-day-trees">
        <div class="section__inner region">
          <h2 id="action-learning-sets">Action Learning Sets</h2>
        </div>
      </header>
      <p>
        A Leadership Action Learning Set is a group of around 6 people who come together to develop their
        leaderships practice.
      </p>
      <p>
        To do this participants bring a topic to each session, that their peers help them explore using
        coaching skills and practice. Participants reflect on an action to undertake before the subsequent
        session, then bring back their learning from any actions taken to the group. The set, its structure
        and process, is facilitated.
      </p>
      <p>
        The participants develop their own leadership practice not only from their own topics but also from
        those of others. They also develop in their own reflective and coaching skills.
      </p>
    </div>
  </article>
</div>
