---
layout: base
permalink: /test.html
description: 'Leadership and Team insight Coaching, for those looking to contribute to the future of our world. Tapping into inherent knowing, insight and wisdom. Coaching for a time between worlds.'
---

<section class="full | cover-image cover-image-day-trees">
  <div class="section__inner region">
    <h2>
      <a href="/stories/firework-makers-daughter.html"> The Firework Maker's Daughter </a>
    </h2>
  </div>
</section>
