<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        <a href="/" {{ indicateActiveHome }}>
          <span class="font-display">{{ meta.siteName }}</span>
        </a>

        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>
    </div>

    {% include 'partials/theme-switch.njk' %}
  </div>
</footer>
